.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.github/
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
*.egg-info/
dist/
build/
docs/
tests/
.flake8
.pre-commit-config.yaml
.gitignore
